name: Python Quality Control

on: [ push, pull_request ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          sudo apt-get install openjdk-17-jre-headless  # Spark needs Java even in CI!
          pip install -r requirements.txt
          pip install flake8 mypy pytest

      - name: Lint with flake8
        run: flake8 .

      - name: Type check with mypy
        run: mypy src/

      - name: Run Unit Tests
        run: pytest